* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 8px 200px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 50px 200px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    padding: 8px;
    text-wrap: balance;

}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px;
    text-wrap: balance;
}

.hero button {
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin-left: 8px;
    width: 100px;
}



.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-width: 150px;
}


.hero img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* Info */

.info {
    padding: 50px 200px;
    align-items: center;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding: 0 0 50px 0;
}

.info-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 52px;
}

.box {
    justify-content: center;
    align-items: center;
    max-width: 160px;
    text-align: center;
}

.box img {
    height: 160px;
    width: 160px;
    border-radius: 8px;
    border: 4px solid #3882f6;
}

.box p {
    padding: 8px;
}


/* quote */

.quote {
    padding: 50px 200px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 8px;
}

.quote-credit {
    text-align: right;
    padding: 8px;
    font-weight: bold;

}

/* Call to action */

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
}

.call-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 50px;
    width: 100%;
}

.call-box-text {
    padding: 8px;
}

.call-box-text h3 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

}

.call-box-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.call-box button {
    flex-shrink: 0;
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    text-decoration: none;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 8px;
    width: 100px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 25px 200px;
}
.footer p{

    font-size: 18px;
    color: #f9faf8;
}