*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 8px 100px;   
}
.header h1{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8; 
}
ul{
    display: flex;
    list-style: none;   
    gap: 8px; 
}

a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* Hero */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 100px 100px;
}
.hero h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    padding: 8px;

}

.hero p{
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px;
}

.hero button {
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin-left: 8px;
    width: 100px;
}



.hero img{
    height: 250px;
    border-radius: 8px;
}